@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Nunito';
}

.navbar a:hover{
    border-bottom: 2px yellow solid;
    color: yellow;
}

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
    }  
    .menu {
          display: block;
          position: absolute;
          right: 15px;
          top: 15px;
      }

      .nav-list {
          list-style-type: none;
          width: 100%;
          text-align: center;
          padding-top: 10px;
          display: none;
      }

      .nav-list .list-item {
          display: block;
          border-bottom: 1px white solid;
      }

      .active {
          display: block;
      }
}