@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    position:fixed;
    width: 100%;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Nunito';
}

.navbar a:hover{
    border-bottom: 2px yellow solid;
    color: yellow;
}

.navbar .logo:hover {
    border-bottom: none;
}

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
    }  
    .menu {
          display: block;
          position: absolute;
          right: 15px;
          top: 15px;
      }

      .nav-list {
          list-style-type: none;
          width: 100%;
          text-align: center;
          padding-top: 10px;
          display: none;
      }

      .nav-list .list-item {
          display: block;
          border-bottom: 1px white solid;
      }
    
      .active {
          display: block;
      }
}

.main-info {
    padding-top: 150px;
}

.main-tittle {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    margin-left: 20px;
}

p {
    display: flex;
    font-family: 'Nunito';
    margin-top: 30px;
    padding: 10px 5px 10px 5px;
    border: 2px black solid;
    font-weight: bold;
    background-color: yellow;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
}

.main-info {
    background-image: url(img/stadiu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: rgb(216, 216, 6);
}

.footer-logo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.first-logo {
    padding-right: 20px;
    padding-bottom: 15px;
}

.second-logo {
    padding-right: 20px;
    padding-bottom: 15px;
}

.third-logo {
    padding-right: 20px;
    padding-bottom: 15px;
}

.footer-text {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}